[Unit]
Description=Test project service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/python3 /usr/bin/test-project.py

[Install]
WantedBy=multi-user.target
